.icon-room {
    background-image: url("http://whitneyontheweb.com/ChemicalCowboys/CC_Fez.png");
}

#chat .id-3451392 i.bdg {  /*RAWRMedusa  3451392*/
    background: url('http://whitneyontheweb.com/ChemicalCowboys/bees.gif') !important;
    background-size: contain;
}

#chat .id-6656331 i.bdg {  /*EvilTinkerbell  6656331*/
    background: url('http://whitneyontheweb.com/ChemicalCowboys/tink3.gif') !important;
    background-size: contain;
}

#chat .id-3450156 i.bdg { /*DJLaunchpad  3450156*/
    background: url('http://whitneyontheweb.com/ChemicalCowboys/bobafett.gif') !important;
    background-size: contain;
}

#chat .id-3450088 i.bdg { /*Sinjun  3450088*/
    background: url('http://whitneyontheweb.com/ChemicalCowboys/fez1.gif') !important;
    background-size: contain;
}

#chat .id-6715741 i.bdg { /*Ozzytu  6715741*/
    background: url('http://whitneyontheweb.com/ChemicalCowboys/acidcat.gif') !important;
    background-size: contain;
}

#chat .id-6717571 i.bdg { /*Chembot  6717571*/
    background: url('http://whitneyontheweb.com/ChemicalCowboys/chembot.gif') !important;
    background-size: contain;
}

#chat .rs-log-user-grab i.bdg {
    background: url('http://whitneyontheweb.com/ChemicalCowboys/grab.jpg') !important;
    background-size: contain;
}

/*NoSpillBlood  id-3451429*/
/*Sinjun  id-3450088*/
/*DJLaunchpad   id-3450156*/
/*Ozzytu  id-6715741*/
/*Dr_McKay  id-3695881*/
/*EvilTinkerbell  id-6656331*/
