.icon-room {
    background-image: url("http://whitneyontheweb.com/ChemicalCowboys/CC_Fez.png");
}

#chat .id-3451392 i.bdg {  /*RAWRMedusa  3451392*/
    background: url('http://whitneyontheweb.com/ChemicalCowboys/bees.gif') !important;
    background-size: contain;
}

#chat .id-6656331 i.bdg {  /*EvilTinkerbell  6656331*/
    background: url('http://whitneyontheweb.com/ChemicalCowboys/etink.gif') !important;
    background-size: contain;
}

#chat .id-6717571 i.bdg { /*Chembot  6717571*/
    background: url('http://whitneyontheweb.com/ChemicalCowboys/chembot.gif') !important;
    background-size: contain;
}

/*NoSpillBlood  id-3451429*/
/*Sinjun  id-3450088*/
/*DJLaunchpad   id-3450156*/
/*Ozzytu  id-6715741*/
/*Dr_McKay  id-3695881*/
/*EvilTinkerbell  id-6656331*/
